body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #4CAF50;
    color: #fff;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.main-content {
    padding: 2rem;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.overview {
    margin-bottom: 2rem;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 22%;
    margin: 1rem;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    color: #4CAF50;
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    transition: background-color 0.3s;
}

form:hover {
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input {
    width: 97%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.1rem;
}

form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45A049;
}

.tax-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.tax-list th, .tax-list td {
    padding: 1rem;
    border: 1px solid #ddd;
}

.tax-list th {
    background-color: #4CAF50;
    color: #fff;
}

#result, #try-tax-result, #monthly-tax-result, #annual-tax-result, #department-result, #employee-result {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 1rem auto 0;
    text-align: center;
}
